.typer {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville';
}

.blurb-container {
    width: 100%
}

.robby-is {
    font-size:xx-large;
    text-align: center;
    font-weight: 300;
}

.container {
    max-width: 100%;
}

.intro-container {
    background-color: #B7B7A4;
}

#home-selfie {
    max-height: 400px;
}

h3 {
    font-size: xx-large;
    font-weight: 600;
}

p {
    font-size: large;
    font-weight: 400;
}